/* ========================================================= */
/* _base.scss: ГЛОБАЛЬНІ СТИЛІ */
/* ========================================================= */
.container {
    max-width: 1000px;
}

.content {
    background: white;
    min-height: 85vh; /* Для десктопу */
}