// ----------------------------------------
// ЗМІННІ ДЛЯ КОЛЬОРІВ
// ----------------------------------------
$primary-color: #DB5326;
$primary-color-light: #F4F4F4;
$text-color-dark: #333333;
$text-color-light: #666666;
$font-family-base: "Arial", sans-serif;


// ----------------------------------------
// ЗМІННІ ДЛЯ РОЗМІРІВ ТА ОПЕРАЦІЙ
// ----------------------------------------

// Базовий відступ
$base-padding: 15px;

// Відступ для заголовків (демонстрація математичної операції)
$header-margin-bottom: $base-padding * 1.5;