/* ========================================================= */
/* _config.scss: ЗМІННІ */
/* ========================================================= */
:root {
    --primary-color: #2b7a78;
    --secondary-color: #3aafa9;
    --dark-color: #17252a;
    --light-color: #def2f1;
    --transition-speed: 0.3s;
}